// Importing necessary files
@use 'reset' as *;
@use 'variables' as *;
@use 'mixins' as *;

// General Styles
body {
  background-color: $background-color;
  color: $color-white;
  font-family: $font;
  font-weight: 300;
}

// Link Styles
a {
  text-decoration: none;
  color: $color-white;
}

a:hover,
a:visited,
a:active {
  color: $color-gray;
}

// Paragraph Styles
p {
  font-size: 21px;
}

// Section Styles
section {
  padding: 40px 16px;
}

// Main Wrapper Styles
#main-wrapper {
  margin: 0 auto;
  max-width: 1146px;
  width: 100%;
}

// Block Title Styles
.block__title {
  @include title-block($color-white);
}

.block__title--centered {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

// Block Image Styles
.block__image {
  @include responsive-image;
}

.block__image--hover:hover {
  transform: scale(1.05);
}

.block__image-wrapper {
  position: relative;
  overflow: hidden;
}

// Card Styles
.card {
  margin-bottom: 40px;
}

.card__title {
  @include card-title;
}

// Text Alignment Utility
.text-center {
  text-align: center;
}

// Block of Cards Layout (Default Column Layout)
.block__cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

// Media Query for small screens (above 640px) - Changes layout to Row
@media (min-width: 640px) {
  .block__cards {
    flex-direction: row;
  }

  .card {
    flex: 1 1 0;
  }
}

// Article Styles
article {
  h3 {
    color: $color-red;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 24px;
  }
}

// Bold Text Utility
.text-bold {
  font-weight: 700;
}

// Gallery Layout (Default Column Layout)
.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

// Column Layout (Column 1 and Column 2)
.column1, .column2 {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

// Flex-2 Layout
.flex-2 {
  display: flex;
  flex-direction: column;
}

.flex-2 .item1 {
  flex: 1;
}

.flex-2 .item2 {
  flex: 2;
}

// Media Query for Featured Block - Above 640px (Changes Gallery Layout to Row)
@media (min-width: 640px) {
  .gallery {
    flex-direction: row;
  }
}

// Media Query for Featured Block - Above 768px (Modifies Flex-2 and Column Styles)
@media (min-width: 768px) {
  .flex-2 {
    flex-direction: row-reverse;
  }

  .column1 img {
    height: 600px;
    object-fit: cover;
  }

  .column2 img {
    height: 295px;
    object-fit: cover;
  }

  .column1, .column2 {
    flex: 1;
  }

  article {
    margin-left: 30px;
  }

  // Text Overflow Handling for Paragraphs
  .line-clamp-paragraph {
    text-overflow: ellipsis;
    line-clamp: 11;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
  }
}

// Media Query for Larger Screens - Above 1146px (Adjusts Flex-2 and Wrapper)
@media (min-width: 1146px) {
  #main-wrapper {
    padding: initial;
  }

  .flex-2 .item1 {
    flex: 0 0 392px;
  }

  .flex-2 .item2 {
    flex: 0 0 754px;
  }
}
